<div ui-tree-handle  class="tree-node tree-node-content">
  <span class="btn-group" data-nodrag>
    <a href="" ng-click="setActiveById(node.id)"
      ng-disabled="node.active"
      class="btn btn-sm
      {{node.active && 'btn-bold'}}
      {{node.state == 'valid' && 'btn-success'}}
      {{node.state == 'invalid' && 'btn-danger'}}
      {{node.state == 'unknown' && 'btn-default'}}
      "
       scroll-top-on-click >
      {{ (node.term1.name_la ? node.term1.name_la : node.term1.name_en).split(';')[0] }}
      &rarr;
      {{ (node.term2.name_la ? node.term2.name_la : node.term2.name_en).split(';')[0] }}
    </a>

    <a class="btn btn-sm btn-default" href=""
      scroll-top-on-click ng-hide="node.repeated"
      ng-click="addChild(node)" title="Přidat podčást">
      &nbsp; <i class="glyphicon glyphicon-plus"></i> &nbsp;
    </a>
    <span class="btn btn-sm btn-default disabled" ng-show="node.repeated">
      &nbsp; <i class="glyphicon glyphicon-remove"></i> &nbsp;
    </span>
  </span>
</div>
<ul ui-tree-nodes="" ng-model="node.children">
  <li ng-repeat="node in node.children" ui-tree-node ng-include="'static/tpl/node_renderer.html'">
  </li>
</ul>
