<div class="header">
  <div class="col-sm-12">
    <h1>
      <a href="/">
        <i class="glyphicon glyphicon-home"></i>
      </a>
      Anatom.cz -
      {{image.filename || ('souvislosti - ' + mainTerm)}}
    </h1>
  </div>
  <div class="clearfix"></div>
  <br>
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
<div ng-hide="loading"  class="table table-striped col-sm-12">
  <div class="row header-row">
    <span class="col-sm-2" ng-bind="mainTerm"> </span>
    <span class="col-sm-9" >
      <span class="col-sm-2"
          ng-repeat="type in relationTypes">
        <span ng-bind="type">
        </span>
        <a ng-click="publish(type)"
          ng-disabled="saving == type"
          tooltip="Nahrát tento sloupec na {{exportDomain}}"
          tooltip-placement="bottom"
          class="btn btn-default btn-sm pull-right">
            {{saving == type ? 'Zveřejňování...' : 'Zveřejnit' }}
        </a>
    </span>
  </div>
  <div class="row table-row"
      ng-repeat="relation in relations">
    <span class="col-sm-2">
      <div class="input-group"
          tooltip="
          CZ:&nbsp;{{relation.Muscle.term.name_cs}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          EN:&nbsp;{{relation.Muscle.term.name_en}}">
        <input class="form-control input-sm"
          ng-model="relation.Muscle.term"
          style="background-color: {{relation.Muscle.id ? ' #dff0d8' : ''}}"
          typeahead-template-url="termTemplate.html"
          typeahead="term as term.name_la for term in allTerms |
            filter:{name_la: $viewValue} |
            limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
        <span class="input-group-btn"
            ng-if="relation.Muscle.term">
          <a target="_blank"
              class="btn btn-default"
              href="/terms/?search={{relation.Muscle.term.name_la}}">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
        </span>
      </div>
      {{relation.Muscle.text}}
    </span>
    <span class="col-sm-9" >
      <span class="col-sm-2"
          ng-repeat="type in relationTypes">
        <div class="input-group"
          tooltip=" CZ:&nbsp;{{relationField.term.name_cs}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EN:&nbsp;{{relationField.term.name_en}}"
          ng-repeat="relationField in relation[type].terms">
          <input class="form-control input-sm"
            style="background-color: {{relationField.id ? ' #dff0d8' : ''}}"
            ng-model="relationField.term"
            typeahead-template-url="termTemplate.html"
            typeahead="term as term.name_la for term in allTerms |
              filter:{name_la: $viewValue} |
              limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
          <span class="input-group-btn"
                ng-if="relationField.term">
            <a target="_blank"
                class="btn btn-default"
                href="/terms/?search={{relationField.term.name_la || relationField.term}}">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </span>
          <span class="input-group-btn"
                ng-if="!relationField.term && $index != 0">
            <a class="btn btn-default" ng-click="removeField(relation, type, $index)">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </span>
        </div>
            <a class="btn btn-default pull-right"
                ng-click="addField(relation, type)">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
        <div class="relation-original-text" ng-repeat="text in relation[type].texts">{{text}}</div>
      </span>
    </span>
    <span class="col-sm-1" >
      <a class="btn btn-primary"
        ng-disabled="relation.saving"
        ng-hide="relation.alerts.length"
        ng-click="save(relation)">
        Uložit</a>
      <alert ng-repeat="alert in relation.alerts" type="{{alert.type}}"
        close="closeAlert(relation, $index)">{{alert.msg}}</alert>
    </span>
  </div>
</div>
<div ng-hide="true" class="table table-striped col-sm-12">
  <div class="row header-row">
    <span class="col-sm-2" >&nbsp;&nbsp;  Sval </span>
    <span class="col-sm-2" >&nbsp;&nbsp;  Typ souvislosti </span>
    <span class="col-sm-2" >&nbsp;&nbsp;  Související pojem </span>
  </div>
  <div class="row table-row" ng-repeat="relation in relations">
    <span class="col-sm-2" >
      {{relation.text1}}<br>
      <input class="form-control input-sm"
        ng-model="relation.term1"
        typeahead-template-url="termTemplate.html"
        typeahead="term as term.name_la for term in allTerms |
          filter:{name_la: $viewValue} |
          limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
    </span>
    <span class="col-sm-2" >{{relation.type}} </span>
    <span class="col-sm-2" >
      {{relation.text2}}<br>
      <input class="form-control input-sm"
        ng-model="relation.term2"
        typeahead-template-url="termTemplate.html"
        typeahead="term as term.name_la for term in allTerms |
          filter:{name_la: $viewValue} |
          limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
    </span>
  </div>
</div>
  <div class="col-sm-12" ng-show="loading">
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active"
        style="width: 100%">
        Načítání
      </div>
    </div>
  </div>
