<div class="header">
  <div class="col-sm-10">
    <h1>
      <a href="/home/">
        <i class="glyphicon glyphicon-home"></i>
      </a>
      Anatom.cz 
    </h1>
  </div>
  <div class="clearfix"></div>
  <br>
</div>
<div class="col-sm-12" ng-show="loading">
  <br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active"
      style="width: 100%">
      Načítání
    </div>
  </div>
</div>
<div class="table table-striped col-sm-12">
    <div class="row table-row">
      <h2 class="col-sm-12" ng-bind="imagesByCategory[section].name"></h2>
    </div>
    <div class="row table-row" ng-repeat="image in imagesByCategory[section].images">
      <a class="col-sm-5" ng-click="activateImage(image)" href="">
        {{image.filename }}
      </a>
      <span class="col-sm-5">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar"
            style="width: {{image.paths_progress}}%;">
            <span ng-if="image.paths_progress != 0">
            {{image.paths_count - image.untagged_paths_count}} /
            {{image.paths_count}}
            </span>
          </div>
        </div>
      </span>
      <span class="col-sm-2">
        <a class="btn btn-primary" href="practice/{{image.filename_slug}}">
          Procvičovat
        </a>
      </span>
      <div class="clearfix"></div>
      <div ng-if="activeImage==image">
        <div class="col-sm-7" ng-hide="loading">
          <div class="image" url="{{image.filename_slug}}" relative-height="0.6"></div>
        </div>
        <div class="col-sm-5" ng-hide="loading">
          <div ng-repeat="term in terms" class="">
              <span class="btn btn-default btn-block"
                ng-class="{'btn-info' : term == activeTerm}"
                ng-click="clickTerm(term)"
                ng-bind="term.name_la" ></span>
          </div>
        
      </div>
    </div>
</div>


