<div class="relation-term-edit">
  <div class="input-group">
    <span class="input-group-addon" >
      <i class="glyphicon glyphicon-question-sign"
        tooltip="Toto pole mění celý pojem, narozdíl od ostatních,
        které mění jen sebe. Našptávač hledá v všech jazycích"></i>
      ID 
    </span>
    <input class="form-control input-sm" ng-model="term"
        typeahead-template-url="termIdTemplate.html"
        typeahead="term as term.code for term in allTerms |
          filter: $viewValue | 
          limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >LA</span>
    <input class="form-control input-sm" ng-model="term.name_la"
        typeahead="term as term for term in termNames.la |
          filter: $viewValue | 
          limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >EN</span>
    <input class="form-control input-sm" ng-model="term.name_en" 
        typeahead="term as term for term in termNames.en |
          filter: $viewValue | 
          limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >CS</span>
    <input class="form-control input-sm" ng-model="term.name_cs" 
        typeahead="term as term for term in termNames.cs |
          filter: $viewValue | 
          limitTo:($viewValue.length ? $viewValue.length * 2 : 2)" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >Umístění</span>
    <input class="form-control input-sm" ng-model="term.body_part" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >Systém</span>
    <input class="form-control input-sm" ng-model="term.system" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >FMA</span>
    <input class="form-control input-sm" ng-model="term.fma_id" />
  </div>
</div>
