<div class="relation-term-edit">
  <div class="input-group">
    <span class="input-group-addon" >ID</span>
    <input class="form-control input-sm" disabled ng-model="term.code" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >LA</span>
    <input class="form-control input-sm" ng-model="term.name_la" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >EN</span>
    <input class="form-control input-sm" ng-model="term.name_en" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >CS</span>
    <input class="form-control input-sm" ng-model="term.name_cs" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >Umístění</span>
    <input class="form-control input-sm" ng-model="term.body_part" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >Systém</span>
    <input class="form-control input-sm" ng-model="term.system" />
  </div>
  <div class="input-group">
    <span class="input-group-addon" >FMA</span>
    <input class="form-control input-sm" ng-model="term.fma_id" />
  </div>
</div>
