.color-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20%;
}
.image {
  margin-left: -15px;
}
.image-edit {
  height: 89%;
  overflow-y: scroll;
  padding-top: 10px;
}
.header {
  background-color: #5CA03C;
  padding-top: 10px;
}

.header a {
  color: white;
}

.header h1,
.header h1 a {
  margin: 0;
  color: white;
  font-size: 30px;
  font-family: Arista,Arial,sans-serif;
}
.header h1 a {
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
}

.sub-parts .input-group {
  margin-left: 10px;
}

.row > a,
.row > span {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row .progress {
  margin: 0;
}

.row:nth-of-type(odd) {
  background: #eee;
}

.row:hover {
  background: #ddd;
}

.nav a, .pagination a, .carousel a {
      cursor: pointer;
}

.term-edit .btn,
.term-edit .input-group-addon {
  border-radius: 0;
}

.term-edit:last-child .btn {
  border-bottom-right-radius: 4px;
}

.term-edit .input-group-addon.open,
.term-edit:last-child .input-group-addon {
  border-bottom-left-radius: 4px;
}

.input-group {
  margin-bottom: -1px;
}

.form-control:focus,
.form-control:active {
  z-index: 10;
}

.row.header-row {
  font-size: 1.1em;
  font-weight: bold;
  background-color: #DCDCDC;
}

.paging {
  background: #ddd;
  padding: 5px;
}

.paging button.btn {
  font-size: 30px;
  line-height: 0.4em;
}

.page-input {
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

select.per-page-select {
  width: 55px;
  margin: 0;
}

.table .row .alert {
  margin-bottom: 0;
  padding: 5px;
}

.table .row .alert .close {
  right: 0;
}
