<html ng-app="anatomy.tagging" ng-controller="anatomyMain">
<head>
  <title>{% if not ON_PRODUCTION %}Loc - {% endif %}Anatom.cz - značkování obrázků</title>

  {% for file in js_files %}
    <script src="{{ file }}"></script>
  {% endfor %}


  <link href="/static/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/main.css" rel="stylesheet">

  <base href="/"/>
  {% csrf_token %}

<script type="text/ng-template" id="termTemplate.html">
  <a>
  <span bind-html-unsafe="match.model.name_la | typeaheadHighlight:query"></span>
  <span style="color:#ccc;">
   <span bind-html-unsafe="match.model.parent.name_la"></span>
  </span>
  </a>
</script>

<script type="text/ng-template" id="termIdTemplate.html">
  <a>
  <span bind-html-unsafe="match.model.parent.code | typeaheadHighlight:query"></span>
  <span style="color:#ccc;">
    <span bind-html-unsafe="match.model.name_la | typeaheadHighlight:query"></span>
  </span>
  </a>
</script>
</head>
<body ng-view>
</body>
</html>

